<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css">
<style>
.ais-SearchBox {
  padding: 10px;
}

.markdown-body ol.ais-Hits-list {
  padding-left: 0;
  align-items: baseline;
}

.ais-Hits-list {
  height: calc(100vh - 60px);
  overflow-y: auto;
  margin-left: 0;
  padding: 10px;
}

.ais-Hits-item {
  width: 100%;
  line-height: 1.4;
  margin-left: 0;
}

.ais-Hits--empty {
  padding: 10px;
}

.search__panel {
  position: fixed;
  width: 320px;
  max-width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background: white;
  z-index: 100;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: all ease 0.3s;
}

.search__panel.show {
  transform: translateX(0);
}

.search__trigger {
  position: fixed;
  left: 10px;
  top: 10px;
}

.search__trigger:hover {
  color: var(--site-theme-color);
  cursor: pointer;
}
</style>

<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4/dist/algoliasearch-lite.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4"></script>

<div id="search-trigger" class="search__trigger">
  <span class="iconify" data-icon="octicon-search" data-inline="false" title="Search"></span>
</div>

<div id="search-panel" class="search__panel">
  <div id="searchbox"></div>
  <div id="hits"></div>
</div>

<script type="text/javascript" charset="utf-8">
const searchPanel = document.getElementById('search-panel')
const searchTrigger = document.getElementById('search-trigger')

const algoliaClient = algoliasearch("{{ site.algolia.application_id }}", "{{ site.algolia.api_key }}")
const searchClient = {
  search(requests) {
    if (requests.every(({ params }) => !params.query)) {
      return Promise.resolve({
        results: requests.map(() => ({
          hits: [],
          nbHits: 0,
          nbPages: 0,
          page: 0,
          processingTimeMS: 0,
        })),
      });
    }

    return algoliaClient.search(requests);
  },
};
const algoliaSearch = instantsearch({
  indexName: "{{ site.algolia.index_name }}",
  searchClient,
});

// initialize SearchBox
algoliaSearch.addWidget(
  instantsearch.widgets.searchBox({
    container: '#searchbox',
    placeholder: 'Search for Wiki'
  })
);

const hitTemplate = function(hit) {
  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

  const title = hit._highlightResult.title ? hit._highlightResult.title.value: '';

  let breadcrumbs = '';
  if (hit._highlightResult.headings) {
    breadcrumbs = hit._highlightResult.headings.map(match => {
      if (!match) return ''
      return `<span class="post-breadcrumb">${match.value}</span>`
    }).join(' > ')
  }
  const content = hit._highlightResult.content ? hit._highlightResult.content.value: '';

  return `
    <div class="post-item">
      <h2>${title}</h2>
      {{#breadcrumbs}}<a href="${url}" class="post-breadcrumbs">${breadcrumbs}</a>{{/breadcrumbs}}
      <div class="post-snippet">${content}</div>
    </div>
  `;
}

// initialize hits widget
algoliaSearch.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    templates: {
			item: hitTemplate
    },
  })
)

window.addEventListener('DOMContentLoaded', function() {
  searchPanel.parentElement.removeChild(searchPanel)
  document.body.appendChild(searchPanel)
  
  algoliaSearch.start();
})

searchTrigger.addEventListener('click', function () {
  searchPanel.classList.add('show')
})

document.body.addEventListener('click', function (e) {
  if (searchPanel.classList.contains('show')) {
    if (!(searchPanel.contains(e.target) || searchTrigger.contains(e.target))) {
      searchPanel.classList.remove('show')
    }
  }
})
</script>
