<link rel="stylesheet" href="https://unpkg.com/marka-js/dist/marka.css" />
<script src="https://unpkg.com/marka-js/dist/marka-js.umd.js"></script>

<style>
  :scope {
    --marka-link-color: #ff6156;
  }

  .marka-link::after {
    vertical-align: text-bottom;
  }
</style>

<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", function () {
    marka.init({
      container: ".markdown-body",
      imageBaseDir: "https://unpkg.com/marka-js@0.1.0/dist/images",
    });
  });
</script>
