---
---

@import "{{ site.theme }}";

a {
  // color: #6043d2;
  color: #ff6156;
}

.markdown-body {
  max-width: 800px;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.5em;
  margin-bottom: 0.8em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

img[src*="demo"] {
  border: 1px #eee solid;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
}

@media only screen and (min-width: 1170px) {
  img[src*="demo"] {
    max-width: 130%;
    margin-left: -15%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: "Avenir", "Menlo", "Helvetica Neue", Arial, ",WenQuanYi Zen Hei", sans-serif;
}

.wikilink:before {
  content: "[[";
  opacity: 0.5;
}

.wikilink:after {
  content: "]]";
  opacity: 0.5;
}

.github-only {
  display: none;
}

.announcement {
  background: #ede7ff;
  padding: 4px 16px;
  color: black;
  border-radius: 4px;
}
